<div class="fondo-modal animate__animated animate__fadeIn" [class.oculto]="bitacoraService.ocultarModal">

  <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    style="display: block;">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel1">Detalle Bitacora</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body" style="background-color: #f9f5ff;">
          <h6>Comentario</h6>
          {{bitacora.Comentario}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cerrarModal()">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
