<div class="row">
  <div class="col-md-12">
    <div class="card shadow-lg " style="background-color: #f9f5ff;">
      <div class="card-body">
        <div id="layoutAuthentication">
          <div id="layoutAuthentication_content">
            <main>
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <form [formGroup]="form" (ngSubmit)="login()">
                      <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header text-center">
                          <img src="../../../../assets/img/esfeagape.png" alt="ESFE"
                            style="width: 160px; height: 160px; border-radius: 50%;" class="img-fluid shadow-lg">
                        </div>
                        <div class="card-body">

                          <div class="form-floating mb-3">
                            <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com"
                              formControlName="Email" />
                            <label for="inputEmail">Correo</label>
                          </div>
                          <div class="form-floating mb-3">
                            <input class="form-control" id="inputPassword" type="password" placeholder="Password"
                              formControlName="Pass" />
                            <label for="inputPassword">Password</label>
                          </div>
                          <div *ngIf="!form.valid && (form.dirty || form.touched)" class="alert alert-danger"
                            role="alert">
                            Nose permiten campos vacios !!!
                          </div>
                          <div style="color: red;" *ngIf="errorSession">
                            <h6>Correo o contraseña invalidos</h6>
                          </div>

                          <div class="d-grid gap-2">
                            <button class="btn btn-primary" [disabled]="!form.valid" type="submit">Log in</button>
                          </div>

                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-6">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                      <div class="card-header text-center">
                        <h3>BIENVENID@S</h3>
                      </div>
                      <div class="card-body">
                        <img src="../../../../assets/img/login.svg" class="img-fluid p-2 shadow-lg" alt="">
                      </div>

                    </div>

                  </div>
                </div>
              </div>
            </main>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
