<div class="row">
    <div class="col-md-12">
        <div class="card shadow-lg mb-4" style="background-color: #f9f5ff;">
            <div class="card-body">

                <form class="form-horizontal p-t-20" [formGroup]="registerUser" (ngSubmit)="createUser()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="form-label">Nombres</label>
                                        <input type="text" class="form-control" formControlName="nombre">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label class="form-label">Apellidos</label>
                                        <input type="text" class="form-control" formControlName="apellido">
                                    </div>

                                    <br>
                                    <div class="row">
                                        <div class="fprm-group col-md-6">
                                            <div class="form-group">
                                                <label class="form-label">Email</label>
                                                <input type="email" class="form-control" formControlName="email">
                                            </div>
                                        </div>
                                        <div class="fprm-group col-md-6">
                                            <div class="form-group">
                                                <label class="form-label">Password</label>
                                                <input type="password" class="form-control" formControlName="pass">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="form-label">Rol</label>
                                        <select class="form-select" aria-label="Default select example"
                                            formControlName="roleId">
                                            <option *ngFor="let rol of roles" value="{{rol.RoleID}}">{{rol.Roles}}
                                            </option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <br>
                            <div class="d-grid gap-2">
                                <button [disabled]="!registerUser.valid" class="btn btn-success" type="submit">
                                    Agregar
                                </button>
                            </div>
                            <br>
                            <div *ngIf="!registerUser.valid && (registerUser.dirty || registerUser.touched)"
                                class="alert alert-danger" role="alert">
                                <p> º Nose permiten campos vacios</p>
                                <div
                                    *ngIf="!registerUser.controls['pass'].valid && (registerUser.controls['pass'].dirty || registerUser.controls['pass'].touched)">
                                    <p *ngIf="registerUser.controls['pass'].errors?.minlength"> º La contraseña debe
                                        tener
                                        minimo 8 caracteres
                                        !!!</p>
                                </div>
                                <div
                                    *ngIf="!registerUser.controls['email'].valid && (registerUser.controls['email'].dirty || registerUser.controls['email'].touched)">
                                    <p *ngIf="registerUser.controls['email'].errors?.email"> º El formato del correo no
                                        es
                                        corecto !!!</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<a class="small" routerLink="/usuarios/lista-usuario">Ver lista?</a>