<div class="row">
  <div class="col-md-12">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a routerLink="../nuevo-puesto-trabajo/0" class="btn btn-primary rounded-pill shadow-lg"><i
          class="fas fa-plus"></i>
        Agregar
      </a>
    </div>
    <br>
    <div class="row row-cols-1 row-cols-md-5 g-8 animate__animated animate__fadeIn">
      <div class="col" *ngFor="let puestosTrabajos of puestosTrabajo">
        <div class="card shadow-lg  mb-2">
          <img src="../../../../assets/img/undraw_programming_re_kg9v.svg" class="img-fluid p-2 shadow-lg" alt="..."
            style="width: 500px; height: 100px;">
          <div class="card-body">
            <h6 class="card-title">Area: {{puestosTrabajos.Area.NombreArea}}</h6>
            <div class="form-check form-check-inline">
              <label *ngIf="puestosTrabajos.Teclado" class="form-check-label" for="inlineCheckbox1">Teclado <i
                  class="fas fa-check-circle text-success"></i></label>
              <label *ngIf="!puestosTrabajos.Teclado" class="form-check-label" for="inlineCheckbox1">Teclado <i
                  class="fas fa-times text-warning"></i>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label *ngIf="puestosTrabajos.Mouse" class="form-check-label" for="inlineCheckbox2">Mouse <i
                  class="fas fa-check-circle text-success"></i></label>
              <label *ngIf="!puestosTrabajos.Mouse" class="form-check-label" for="inlineCheckbox2">Mouse <i
                  class="fas fa-times text-warning"></i></label>
            </div>
            <p class="card-text"> </p>
            <div class="text-nowrap text-center">
              <a class="cursor" style="cursor: pointer;" (click)="abrirModal()"
                [routerLink]="['/puestos-trabajo','editar-puestos-trabajo',puestosTrabajos.PuestosTrabajoID ]">
                <i class=" far fa-edit fa-lg text-info"></i>
              </a>
              |
              <a (click)="deleteArea()" style="cursor: pointer;">
                <i class="far fa-trash-alt fa-lg text-danger"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
      <input (click)="changePage(-1)" type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
      <label class="btn btn-outline-primary" for="btncheck1">
        < Anterior </label>
          <br>
          <input (click)="changePage(1)" type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
          <label class="btn btn-outline-primary" for="btncheck2">Siguiente > </label>
    </div>
  </div>
</div>
