<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a class="btn btn-primary rounded-pill shadow-lg" (click)="abrirModal()">
    <i class="fas fa-plus"></i>
    Agregar
  </a>
</div>
<br>
<div class="row row-cols-1 row-cols-md-5 g-8 animate__animated animate__fadeIn">
  <div class="col"
    *ngFor="let procesadors of procesador | paginate: { itemsPerPage: 1, currentPage: page, totalItems: totalProcesador }">
    <div class="card shadow-lg  mb-2">
      <img src="../../../../assets/img/procesador.svg" class="img-fluid shadow-lg p-2" alt="..."
        style="width: 500px; height: 100px;">
      <div class="card-body">
        <h6 class="card-title badge bg-dark">Modelo: {{procesadors.Modelo}}</h6>
        <p class="badge bg-primary">VELOCIDAD: {{procesadors.Velocidad}}</p>
        <div class="text-nowrap text-center">
          <a class="cursor" style="cursor: pointer;" (click)="abrirModal()"
            [routerLink]="['/procesador','nuevo-procesador', procesadors.ProcesadorID ]">
            <i class=" far fa-edit fa-lg text-info"></i>
          </a>
          |
          <a style="cursor: pointer;" (click)="deleteProcesador(procesadors.ProcesadorID)">
            <i class="far fa-trash-alt fa-lg text-danger"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
<app-nuevo-procesador></app-nuevo-procesador>
