<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a class="btn btn-primary rounded-pill shadow-lg">
    <i class="fas fa-plus"></i>
    Agregar
  </a>
</div>
<br>
<div class="table-responsive">
  <table class="table  animate__animated animate__bounceInRight shadow-lg p-3 mb-5">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Falla</th>
        <th scope="col">Usuario</th>
        <th scope="col">Fecha - Hora</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bitacora of bitacoras">
        <td>{{bitacora.BitacoraID}}</td>
        <td>{{bitacora.Falla.Descripcion}}</td>
        <td>{{bitacora.Usuario.Nombre}}</td>
        <td>{{ bitacora.FechaHora}}</td>
        <td>
          <i class="far fa-edit fa-lg text-info" style="cursor: pointer;"></i>
          |
          <i class="far fa-trash-alt fa-lg text-danger" style="cursor: pointer;"></i>
          |
          <i class="fas fa-search-plus fa-lg text-success" style="cursor: pointer;"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
  <input (click)="changePage(-1)" type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
  <label class="btn btn-outline-primary" for="btncheck1">
    < Anterior </label>
      <br>
      <input (click)="changePage(1)" type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
      <label class="btn btn-outline-primary" for="btncheck2">Siguiente > </label>
</div>
