<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a (click)="abrirModal()" class="btn btn-primary">Nuevo Mueble</a>
</div>
<br>
<div class="row row-cols-1 row-cols-md-5 g-8 animate__animated animate__fadeIn">
    <div class="col" *ngFor="let muebles of mueble">
        <div class="card shadow-lg  mb-2">
            <img src="../../../../assets/img/mueble.svg" class="img-fluid shadow-lg" alt="..."
                style="width: 500px; height: 100px;">
            <div class="card-body">
                <h6 class="card-title badge bg-dark">Codigo: {{muebles.Codigo}}</h6>

                <div class="text-nowrap text-center">
                    <a (click)="abrirModal()" [routerLink]="['/mueble','nuevo-mueble', muebles.MuebleID ]"
                        class="cursor" style="cursor: pointer;">
                        <i class=" far fa-edit fa-lg text-info"></i>
                    </a>
                    |
                    <a (click)="deleteMueble(muebles.MuebleID )" style="cursor: pointer;">
                        <i class="far fa-trash-alt fa-lg text-danger"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="btn-group shadow-lg" role="group" aria-label="Basic checkbox toggle button group">
    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
    <label (click)="changePage(-1)" class="btn btn-outline-primary" for="btncheck1">
        < Anterior </label>
            <br>
            <input (click)="changePage(1)" type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck2">Siguiente > </label>
</div>

<app-nuevo-mueble></app-nuevo-mueble>