<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a class="btn btn-primary rounded-pill shadow-lg" (click)="abrirModal()">
    <i class="fas fa-plus"></i>
    Agregar
  </a>
</div>

<div class="row">
  <div class="col-md-12">
    <h6>Listado de Tipos de Area </h6>
    <div class="table-responsive  shadow-lg  mb-2">
      <table class="table animate__animated animate__bounceInRight">
        <thead class="table-dark">

          <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo</th>
            <th scope="col">Acciones</th>

          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let tipoAreas of tipoArea | paginate: { itemsPerPage: 1, currentPage: page, totalItems: totalTipoArea * 1}">
            <td>{{tipoAreas.TipoAreaID}}</td>
            <td>{{tipoAreas.Tipo}}</td>
            <td class="text-nowrap text-center">
              <a class="cursor" style="cursor: pointer;" (click)="abrirModal()"
                [routerLink]="['/tipo-area','nuevo-tipo-area', tipoAreas.TipoAreaID ]">
                <i class=" far fa-edit fa-lg text-info"></i>
              </a>
              |
              <a (click)="deleteTipoArea(tipoAreas.TipoAreaID)" style="cursor: pointer;">
                <i class="far fa-trash-alt fa-lg text-danger"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
<app-nuevo-tipo-area></app-nuevo-tipo-area>
