<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a routerLink="../nuevo-usuario/0" class="btn btn-primary">Nuevo usuario</a>
</div>

<div class="row">
    <div class="col-md-12">
        <h6>Listado de Usuarios ({{totalUsuarios}}) desde - {{page}}</h6>
        <table class="table">
            <thead class="table-dark">
                <h4> Total Usuarios</h4>
                <tr>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Acciones</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <td>{{usuario.Nombre}}</td>
                    <td>{{usuario.Apellido}}</td>
                    <td>{{usuario.Email}}</td>

                    <td class="text-nowrap text-center">
                        <a class="cursor" style="cursor: pointer;"
                            [routerLink]="['/usuarios','nuevo-usuario', usuario.UsuarioID ]">
                            <i class=" far fa-edit fa-lg text-info"></i>
                        </a>
                        |
                        <a (click)="deleteUser(usuario.Nombre, usuario.UsuarioID)" style="cursor: pointer;">
                            <i class="far fa-trash-alt fa-lg text-danger"></i>
                        </a>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
    <input (click)="changePage(-1)" type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
    <label class="btn btn-outline-primary" for="btncheck1">
        < Anterior </label>
            <br>
            <input (click)="changePage(1)" type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck2">Siguiente > </label>
</div>