<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a class="btn btn-primary rounded-pill shadow-lg" (click)="abrirModal()">
    <i class="fas fa-plus"></i>
    Agregar
  </a>
</div>
<br>
<div class="table-responsive">
  <table class="table  animate__animated animate__bounceInRight shadow-lg p-3 mb-5">
    <thead class="table-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">roles</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of roles | paginate: { itemsPerPage: 1, currentPage: page, totalItems: totalRoles }">
        <td>{{role.RoleID}}</td>
        <td>{{role.Roles}}</td>
        <td>
          <i class="far fa-edit fa-lg text-info" style="cursor: pointer;" (click)="dataRole(role)"></i>
          |
          <i class="far fa-trash-alt fa-lg text-danger" style="cursor: pointer;"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
<app-nuevo-rol></app-nuevo-rol>
