<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a class="btn btn-primary rounded-pill shadow-lg" (click)="abrirModal()">
    <i class="fas fa-plus"></i>
    Agregar
  </a>
</div>
<br>
<div class="row row-cols-1 row-cols-md-5 g-8 animate__animated animate__fadeIn">
  <div class="col" *ngFor="let cpus of cpu | paginate: { itemsPerPage: 1, currentPage: page, totalItems: totalCpu }">
    <div class="card shadow-lg  mb-2">
      <img src="../../../../assets/img/cpu-tower.svg" class="img-fluid p-2 shadow-lg" alt="..."
        style="width: 500px; height: 100px;">
      <div class="card-body">
        <h6 class="card-title badge bg-dark">Codigo: {{cpus.Codigo}}</h6>
        <p class="badge bg-primary">
          RAM: {{cpus.Ram}}
          -
          DISCO: {{cpus.Almacenamiento}}
        </p>
        <p class="badge bg-success"> {{cpus.Procesador.Modelo}} - {{cpus.Procesador.Velocidad}}</p>
        <div class="text-nowrap text-center">
          <a class="cursor" style="cursor: pointer;" (click)="abrirModal()"
            [routerLink]="['/cpu','nuevo-cpu', cpus.CpuID]">
            <i class=" far fa-edit fa-lg text-info"></i>
          </a>
          |
          <a (click)="deleteCpu(cpus.CpuID)" style="cursor: pointer;">
            <i class="far fa-trash-alt fa-lg text-danger"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
<app-nuevo-cpu></app-nuevo-cpu>
